<div class="container">

    <form class="form-signin" ng-submit="loginVm.login(credentials)">
        <h4 class="form-signin-heading">Please sign in</h4>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input ng-model="credentials.email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input ng-model="credentials.pwd" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-default " type="submit">Sign in</button>
    </form>



</div>